
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: 6rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar1 {
  position: fixed;
  top: -5px;
  width: 100%;
  left: 0;
  z-index: 10;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.item1 {
  height: 40px;
  width: 105px;
  border-radius: 10px;
  transition: 0.1s ease-in all;
  background-color: #e3f2fd;
}
.item1:hover {
  background-color: #5672bc;
  color: whitesmoke;
}
.text_2 {
  width: 110px;
  height: 40px;
  background: darkred;
  border-radius: 12px;
  color: white;
  font-weight: 500;
}
.text_2:hover {
  color: black;
  border-radius: 2px solid green;
}
.footer-text {
  text-decoration: none;
}
.contact-form {
  max-width: 80%;
  width: 100%;
  font-size: small;
  text-align: justify;
}
.form-control {
  background-color: whitesmoke;
  font-size: small;
}
.contact-heading {
  padding: 1rem;
}
.contact-heading h1 {
  margin-bottom: 1rem;
}
.calender {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.calender-text h1 {
  font-weight: 700;
}
.calender-text p {
  font-size: small;
}
.calender-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #5f9ea030;
  align-items: center;
  padding: 15px !important;
}
.calender-img img {
  width: 100%;
  height: auto;
}
.calender .btn {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 13px;
  color: black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgb(192, 167, 167);
}
.calender.cal-btn {
  display: flex;
  gap: 10px;
}
.calender .btn:hover {
  background: darkcyan;
}
.calender .col-md-6 {
  padding: 0;
}
.calender-appoinment {
  padding: 100px 0;
}
.card {
  background: url(./image/appoinment.jpg);
  background-size: cover;
  object-position: center;
  object-fit: contain;
}
.card-title {
  justify-content: center;
  background-color: #f8f9fab5;
}
.card-text h1 {
  font-weight: 800;
  color: azure;
  text-shadow: 0px 2px 7px black;
}
.card-text p {
  color: azure;
  text-shadow: 0px 2px 7px black;
}
.appoi-calendar h3 {
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-shadow: 0px 2px 7px rgb(255, 255, 255);
}
.appoi-box {
  /* background-image: url(./image/appoinment-form.jpg); */
  background-size: cover;
  object-position: center;
  object-fit: contain;
}

.card-footer {
  background-color: #f8f9fab5;
  padding: 10px 20px;
  border-top: 1px solid #dee2e6;
  justify-content: center;
}

.card-footer .btn {
  margin-right: 10px;
  clip-path: circle(50%);
  background-color: black;
  border: none;
}
.card-footer .btn:hover{
  filter: drop-shadow(2px 2px 1px black);
  background-color: transparent;
  transform: scale(1.5);
  animation: cardbtn .7s infinite alternate;
}
@keyframes cardbtn {
  0%{
    transform: rotate(0deg) scale(0);
  }
  10%{
    transform: rotate(45deg) scale(1.5);
  }
}
.appoi-calendar .btn{
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 13px;
  color: black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgb(192, 167, 167);
}
.appoi-calendar .btn:hover {
  background: darkcyan;
}
.appoi-calendar {
  margin-top: 50px;
}
.calendar {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .calender-text {
    padding: 10px;
  }
  .calender-text h1 {
    font-size: 2rem;
  }
  .calender-text p {
    font-size: x-small;
  }
  .calender.cal-btn {
    display: flex;
    gap: 1rem;
  }
  .calender .btn {
    padding: 0.4rem 1rem;
    font-size: small;
  }
  .card-text h1 {
    font-size: x-large;
    font-weight: 800;
    color: azure;
    text-shadow: 0px 2px 7px black;
  }
  .appoi-calendar .btn{
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 13px;
  color: black;
  font-size: small;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgb(192, 167, 167);
}
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .calender.col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .calender-text h1 {
    font-size: 2rem;
  }
  .calender-text p {
    font-size: x-small;
  }
  .calender .cal-btn {
    display: flex;
    gap: 1rem;
  }
  .calender .btn {
    padding: 0.4rem 1rem;
    font-size: small;
  }
  .card-text h1 {
    font-size: xx-large;
    font-weight: 800;
    color: azure;
    text-shadow: 0px 2px 7px black;
  }
  .appoi-calendar .btn{
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 13px;
  color: black;
  font-size: x-small;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgb(192, 167, 167);
}
}
@media only screen and (min-width: 425px) and (max-width: 576px) {
  .calender-text h1 {
    font-size: 1rem;
  }
  .calender-text p {
    font-size: x-small;
  }
  .calender .cal-btn {
    display: grid;
    grid-gap: 10px;
  }
  .calender .btn {
    padding: 0.4rem 1rem;
    font-size: small;
  }
  .card-text h1 {
    font-size: x-large;
    font-weight: 800;
    color: azure;
    text-shadow: 0px 2px 7px black;
  }
  .appoi-calendar .btn{
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 13px;
  color: black;
  font-size: small;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgb(192, 167, 167);
}
.box1 {
    max-width: 250px;
    height: 100px;
    margin: auto;
  }
  .box1 .image img {
    height: 40px !important;
    margin-top: 10px !important;
    padding: 0;
    max-width: 50px;
    width: 100% !important;
  }
  .box1 h2 {
    font-size: xx-small !important;
  }
}
@media only screen and (max-width: 424px) and (min-width: 150px) {
  .calender-text h1 {
    font-size: 1rem;
  }
  .calender-text p {
    font-size: x-small;
  }
  .calender .cal-btn {
    display: grid;
    grid-gap: 10px;
  }
  .calender .btn {
    padding: 0.4rem 1rem;
    font-size: small;
  }
  .card-text h1 {
    font-size: large;
    font-weight: 800;
    color: azure;
    text-shadow: 0px 2px 7px black;
  }
  .appoi-calendar .btn{
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 13px;
  color: black;
  font-size: x-small;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgb(192, 167, 167);
}
.box1 {
    max-width: 250px;
    height: 100px;
    margin: auto;
  }
  .box1 .image img {
    height: 40px !important;
    margin-top: 10px !important;
    padding: 0;
    max-width: 50px;
    width: 100% !important;
  }
  .box1 h2 {
    font-size: xx-small !important;
  }
}
